[Desktop Entry]
Terminal=false
Type=Application
Name=EvilLaugh
Exec=mycroft-gui-app --hideTextInput --skill=skill-laugh.jarbasskills.home
Icon=xxx.png
Categories=VoiceApp
StartupNotify=false
X-DBUS-StartupType=None
X-KDE-StartupNotify=false