name: License tests
on:
  workflow_dispatch:
  push:

jobs:
  license:
    uses: openvoiceos/.github/.github/workflows/license_tests.yml@feat/shared_actions1
    with:
      branch: ${{ github.head_ref }}
      action_branch: feat/shared_actions1
      python_version: 3.10
